body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title {
	color: #fff;
	text-align: center;
	font-size: 5rem;
	margin-top: 4rem;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

@media (max-width: 560px) {
	.moviesGrid {
		grid-template-columns: 100%;
	}
}
